.sidenav-container {
  height: 100%; 
  background-image: url(https://images.pexels.com/photos/14299597/pexels-photo-14299597.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  

}

/* menu lateral innteiro */
.sidenav {
  width: 200px;
  color:white;
  
  background-image: url(https://www.inmoto.com/i/?item_type=product&item_id=6245);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  
  
}
  
/* topo do menu lateral */
.sidenav .mat-toolbar {
  background: inherit;
  color:white;
  
  
}
/* barra onde ta escrito dash */
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: transparent;


  
}
